page-start {
  ion-content{
    background: linear-gradient(to bottom left,#4286f4, #04efa9) !important;
  }
  .start{
	height: 100%;
	width: 100%;
  }

  .text{
    margin-bottom: 40px;
  }

  .continue{
    font-size: 1.4em !important;
    text-align: center;
  }
  .boozey{
	width: 80%;
	//height: 35%;
	//margin-top: 10%;
	//margin-bottom: 4%;
  }
  .text{
	//width: 60%;
	//height: 25%;
	//margin-left:20%;
	//margin-right:20%;
	//margin-bottom: 4%;
  }
  .guest{
	width: 60%;
	margin-left:20%;
	margin-right:20%;
	height: 8%;
	margin-bottom: 2%;
  }
  .login{
	width: 60%;
	margin-left:20%;
	margin-right:20%;
	height: 8%;
	margin-bottom: 2%;
  }
  .signup{
	width: 60%;
	margin-left:20%;
	margin-right:20%;
	height: 8%;
  }

}
