page-editUserIngredient {

  .buttons{
  	text-transform: none !important;
    width: 80%;
    margin: auto !important;
  }

  .logo{
  	width: 50%;
  	margin: 5% 30% 10% 20%;
  }
ion-footer{
    background: transparent !important;
    text-align: center !important;
    align-content: center !important;
    margin: auto !important;
	width: 100%;
  }
  ion-toolbar{
    background: transparent !important;
    text-align: center !important;
    align-content: center !important;
    margin: auto !important;
	width: 100%;
  }
}
