page-profile {

.facebook{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.logout{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.logo{
	width: 50%;
	margin: 5% 30% 10% 20%;
}
ion-icon{
margin-right: 5%;
}

.connectToFacebook{
	width: 60%;
	height: 15%;
	margin-left: 20%;
	margin-right: 20%;
}
  
}
